html, body {
  background-color: bisque;
  margin: 0;
  padding: 0;
  height: 100vh; /* Corrigido: sem espaços vazios */
  width: 100%;
}

header {
  border: 9px solid black; /* Ajustado de 20px para não esmagar a tela */
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabecalho {
  width: 100%;
  height: 40%;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  /* Removido o margin-left que puxava o texto para a esquerda fora do centro */
}

main {
  border: 7px solid black;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;       
}

/* Caixa principal que segura os botões */
.principal {
  width: 80%;
  height: 95%;
  border: 3px solid black;
  display: flex;         /* Ativa o flexbox aqui dentro */
  flex-direction: row;   /* Coloca os botões lado a lado */
  justify-content: center; /* Centraliza os botões no meio da caixa */
  align-items: center;   /* Alinha verticalmente */
  gap: 20px;             /* Cria espaço entre os botões */
}

/* O BOTÃO QUADRADO (Onde as regras devem ficar) */
.botao-pocao {
  border: 8px solid rgba(0, 0, 0, 0.724);       
  background-color: rgba(136, 59, 59, 0.571); /* Fundo branco para contrastar com a poção */
  width: 150px;                  
  height: 137px;                 
  padding: 1px;
  cursor: pointer;
  display: flex;
  flex-direction: column; /* Faz o texto ficar embaixo da foto */
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease; /* Transição suave de cor */
}

/* A IMAGEM DA POÇÃO (Agora maior e bem visível) */
img {
  width: 90px;                /* Aumentado: mudou de 50px para 90px */
  height: auto;
  image-rendering: pixelated; /* Mantém os pixels nítidos ao crescer */
  transition: filter 0.3s ease;
}


/* DESCRIÇÃO (Some por padrão e aparece no hover) */
.descricao {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  opacity: 0; /* Invisível */
  transition: opacity 0.3s ease;
}






/* ========================================== */
/*           EFEITOS AO PASSAR O MOUSE        */
/* ========================================== */

/* Muda a cor do botão */
.botao-pocao:hover {
  background-color: #111116; 
  border-color: #fff;
}

/* Muda o texto para branco quando o botão ficar escuro e faz ele aparecer */
.botao-pocao:hover .descricao {
  opacity: 1;
  color: white;
}

/* Troca a cor do líquido da poção aplicando um filtro mágico */
.botao-pocao:hover img {
  filter: hue-rotate(140deg) saturate(1.8);/*Aplica o efeito de reverso nas cores*/
}

footer {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
